<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- needed for older devices to read the list of recordings and write recording files  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- to show notification while recording & if recording stopped on low battery/storage -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- to stop recording when there is an incoming call -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".RecorderApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.RecordingStudio"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name_short">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.RecordDialogActivity"
            android:exported="true"
            android:label="Record">

            <intent-filter>

               <action android:name="android.provider.MediaStore.RECORD_SOUND"/>

                <!-- needed to receive implicit intents -->
                <category android:name="android.intent.category.DEFAULT"/>


            </intent-filter>

        </activity>

        <!-- todo: should it be exported? -->
        <activity
            android:name=".ui.crash.CrashActivity"
            android:exported="false"
            android:process=":error_activity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:finishOnTaskLaunch="true"

            android:theme="@style/Theme.RecordingStudio.DialogActivity" >

            <intent-filter>
                <!-- ... -->
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>

        </activity>

        <service
            android:name=".data.recorder.RecorderService"
            android:exported="false"
            android:description="@string/rec_service_desc"
            android:foregroundServiceType="microphone"
            />

        <service
            android:name=".data.playback.PlaybackService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>


    </application>

</manifest>